.conteinerCarrousel{
    width: 100%;
    height: 450px;
    display:flex;
    .carrouselCard{
       flex-direction: column;
       justify-content: center;
       height: auto;
        
      
    }
}